{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.jsonc",
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    }
  ]
}
